* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    position: fixed;
    z-index: 500 !important;
    overflow: hidden;
    background: url('../images/backblur.jpg'); 
    background-size: cover;
    width: 100%;
    height: 125px;
  }
  
  #header {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #1f252e9a;
  }
  
  #navLogo {
    width: 19vw;
    height: 80px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    overflow: hidden;
  }
  
  #navLogo img {
    width: 150px;
    height: 50px;
    display: block;
  }
  
  #searchbar1 {
    width: 46vw;
    height: 80px;
    display: flex;
    justify-content: center;
    padding-top: 23px;
    overflow: hidden;
    flex-wrap: wrap;
  }
  
  #searchbar1 input {
    width: 490px;
    height: 34px;
    padding-left: 15px;
    font-size: 17px;
    border: none;
    border-radius: 50px 50px;
  } 
  
  #searchbar1 button {
    width: 80px;
    height: 34px;
    background: #3f4a5d;
    color: #8997b0;
    font-size: 17px;
    border: none;
    border-radius: 50px 50px;
    cursor: pointer;
  }
  
  #searchbar1 button:hover {
    background-color: #2f3746;
    color: #acb6c7;
  }
  
  #navbar1 {
    width: 45vw;
    height: 80px;
    display: flex;
  }
  
  #navbarlinks {
    width: 30vw;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-left: 80px;
    overflow: hidden;
  }
  
  #navbarlinks li {
    width: 90px;
    height: 45px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  
  #navbarlinks li a {
    color: #c4cbd7;
    overflow: hidden;
  }
  
  #navbarlinks li a:hover {
    color: #f3f4f7;
  }
  
  #loginbttn {
    width: 80px;
    height: 34px;
    background: #3f4a5d;
    color: #8997b0;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    border-radius: 50px 50px;
    margin-top: 20px;
    margin-left: 5px;
  }
  
  #loginbttn:hover {
    background-color: #2f3746;
    color: #acb6c7;
  }
  
  #navbar2 {
    width: 100%;
    height: 45px;
    background-color: #272e3a93;
    border-top: 1px solid #3f4a5d;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    margin-top: 80px;
    position: fixed;
  }
  
  #navbar2 a {
    color: #acb6c7;
    height: 45px;
    display: block;
    padding: 15px 30px;
    border:none;
  }
  
  #navbar2 a:hover {
    color: #cfd5df;
    border-bottom: 3px solid #cfd5df;
  }
  
  