

.confirmationmsgBody{
    width: 100%;
    height: 820px;
    background-color: white;
}

.confmsgBox1{
    width: 600px;
    height: 500px;
    background-color: brown;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20%;
    display: none;
}

.confmsgBox1 img{
    width: 900px;
    height: 800px;
}

.confirmmsgbox{
    position: absolute;
    width: 400px;
    top: 50%;
    left: 15%;

}

.confirmMsgTop h3{
    padding: 2px;
    font-size: 30px
}

.confirmMsgText2 h4{
    font-size: 20px;
    margin-top:35px;
    margin-bottom: 20px;
    color: rgb(2, 70, 70);
}

.confirmmsgboxBtns{
    position: absolute;
    width: 400px;
    height: 50px;
    top: 90%;
    left: 10%;
}

.confirmmsgboxBtns button{
    width: 200px;
    height: 40px;
    position: absolute;
    top: 5%;
    left: 25%;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 64);
    background-color: rgba(38, 0, 255, 0.151);
    transition: 0.5s;

}
    
.confirmmsgboxBtns2{
    width: 350px;
    height: 55px;
    position: absolute;
    top: 101%;
    left: 15%;
}

.confirmmsgboxBtns2 button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 64);
    background-color: rgba(255, 4, 46, 0.281);
    transition: 0.5s;
}

.confirmmsgboxBtns2 button:hover{
    transform: scale(1.08);
    color: rgb(8, 0, 80);
}

.confirmmsgboxBtns button:hover{
    transform: scale(1.08);
    color: darkblue;

}

.confmsgBox2{
    position: absolute;
    top: 50%;
    left: 40%;
}