@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

.contactUsBody {
    width: 100%;
    height: 1300px;
    background-size: cover;
}

.forHidden {
    width: 100%;
    height: 128px;
}

.contactusmaintital {
    position: relative;
    padding: 30px 30px 30px 70px;
}

.contactusmaintital h1 {
    color: blanchedalmond;
    font-size: 50px;
    font-family: 'Merriweather', serif;
}

.contactusmaintital h4 {
    padding: 20px 20px;
    color: black;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
}

.con_logo_icon img {
    width: 50px;
    height: 50px;
}

.con_details:hover {
    transform: scale(1.08);
}

.contactlogos {
    width: 100%;
    height: 300px;
    padding: 45px;
    display: flex;
}

.con_details {
    padding: 40px;
}

.contactusForm {
    background-color: black;
    height: 625px;
    opacity: 0.5;
}

.contactusForm h2 {
    padding: 20px 0 0 0;
    font-size: 40px;
    color: blanchedalmond;
    text-align: center;
    font-weight: normal;
}

.border {
    width: 100px;
    height: 6px;
    background: #ff5500;
    margin: 20px auto;
}

.contactusFormForm {
    max-width: 600px;
    padding: 20px;
    margin: auto;
}

.con_input_text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: none;
    background: white;
    padding: 20px 30px;
    outline: none;
    color: green;
    transition: all 0.8s;
}

.con_input_text:focus {
    padding: 15px 30px;
}

textarea {
    resize: none;
    height: 150px;
}

.con_input_submit {
    width: 100%;
    height: 40px;
    font-size: 20px;
    outline: none;
    color: grey;
    cursor: pointer;
    transition: all 0.8s;
}

.con_input_text:hover {
    background: white;
    color: #05002e;
    font-size: 1.1rem;
}