@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.fulltimetab {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px 20px;
    background-size: cover;

}

.fulltime-maincontainer {
    margin: 0 auto;
    padding: 20px 0;
}

.fulltime-maincontainer h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 80px;
    padding: 5px 0;
}

.fulltime-maincontainer h2 {
    padding: 5px 0;
}

.fulltime-maincontainer h3 {
    font-family: 'Libre Baskerville', serif;
    padding: 10px 5px;
}

.fulltime-maincontainer h4 {
    padding: 5px 0;
}

.fulltime-maincontainer p {
    padding: 12px 0;
    opacity: 0.7;
}

/*mod category box*/

.category-head {
    margin: 30px 0;
}

.category-head ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.category-tital {
    flex: 15px 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    background: whitesmoke;
    color: #04075e;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 2px solid #022a61;
    border-radius: 5px;


}

.category-tital :hover {
    opacity: 0.7;
    transform: scale(1.01);
}

.category-tital li {
    padding: 0 10px;
}

/*list ads*/

.post-container img {
    height: 100%;
    width: 100%;
}


.post-container {

    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px
}

.post-container>div {
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 64);

}

.post-container>div:hover {
    transform: scale(1.03);
    transition-duration: 0.8s;
}

.cat-name {
    text-transform: uppercase;
    font-size: 13px;
    color: black;
    padding: 4px;
    background: #595fff;
}

/* .readmorebtn {
    border: none;
    padding: 8px;
    display: block;
    margin: 5px auto;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #4c565c;
    background: transparent
} */
.readmorebtn {
    color: #006346;
    padding: 10px 10px;
    display: block;
    margin: auto auto;
    background: transparent;
    border: none;
    cursor: pointer;
    
}


.readmorebtn:hover {
    background-color: whitesmoke;
    transform: scale(1.01);
}

.active {
    background-color: #577296;
    
}

.ftjmaincontainer{
    width: 100%;
}