@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.jobskrUserProfileBody{
    width: 100%;
    height: 1050px;
    background-size: cover;
}

.UserProfileSelectPage{
    margin: 2px 0;
    
}
.UserProfileSelectPage ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.SelectPage{
    flex: 15px 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    background: whitesmoke;
    color: #04075e;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 2px solid #022a61;
    border-radius: 5px;;
}

.userProfilePic{
    margin: 10px 0px 0px 100px;
}

.userProfilePic img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 64);

}

.userDetals{
    width: 500px;
    /*height: 550px;*/
    height: auto;
    display: block;
    position: absolute;
    top: 520px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 64);
}

.userDetailsContent{
    border: 1px solid rgb(185, 192, 255);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.userDetals2{
    width: 800px;
    height: 870px;
    display: block;
    position: absolute;
    top: 200px;
    left: 500px;
    margin-left: 20px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 64);
}

.userDetals h4{
    font-family: 'Roboto Slab', serif;
    padding-bottom: 5px;
}

.userDetals2 h4{
    font-family: 'Roboto Slab', serif;
    padding-bottom: 5px;
}

.userDetals h5{
    font-size: 20px;
    font-family: 'Lora', serif;
}

.userDetals2 h5{
    font-size: 20px;
    font-family: 'Lora', serif;
}


.userDetals3{

    background-color: rgb(222, 231, 245);

    width: 1000px;
    height: 940px;
    display: block;
    position: absolute;
    left: 150px;
    margin-left: 20px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 64);
}

.userDetals3 h4{
    font-family: 'Roboto Slab', serif;
    padding-bottom: 5px;
    font-size: 20px;
}

.userDetals3 h5{
    font-size: 15px;
    font-family: 'Lora', serif;
}

.userAcademic{
    
    display: none;
}

.jbsactive{
    background-color: #9fc2f0;
}

/* .jbskrbackbtn{
    width: 80px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.555);
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
 }
 
 .jbskrBackbtnA{
     font-size: 15px;
     position: relative;
     top: 8px;
     left: 20px;
     color: white;
     
 }
 
 .jbskrbackbtn:hover{
     transform: scale(1.03);
 } */

 .jbskrbackbtn{
    width: 80px;
    height: 35px;
    position: absolute;
    top: 135px;

    background-color: rgba(0, 0, 0, 0.555);
    margin-left: 10px;
    border-radius: 20px;
 }

 .jbskrBackbtnA{
    font-size: 15px;
    position: relative;
    top: 8px;
    left: 20px;
    color: white;
 }

 .jbskrbackbtn:hover{
    transform: scale(1.03);
}