.loginfm {
    /* background-image: url(images/abishek_images/login/loginpage.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.loginform {
    position: relative;
    width: 30%;
    background: #06806d;
    top: 150px;
    left: 900px;
    opacity: 0.5;
    padding: 40px 40px;

}

.loginform h2 {
    font-family: Georgia, serif;
    font-size: 50px;
    color: white;
    font-weight: 500;
}

.loginform .loginbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.loginform .loginbox input {
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #071d40;
    outline: none;
}

.loginform .loginbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #06302a;
}

.loginform .loginbox input:focus~span {
    color: black;
    font-weight: 500;
    font-size: 15px;
    transform: translateY(-25px);

}

.loginform .loginbox input:valid~span {
    color: #00fc08;
    font-size: 15px;
    font-weight: 1000;
    transform: translateY(-25px);

}

.loginform .loginsubmit button{
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginform .loginsubmit button:hover {
opacity: 0.8;
}

.loginform .loginremember {
padding: 5px;
color: #ff0000;
font-size: 20px;
font-weight: 600;
}

.loginform .logincancel {
padding: 15px 20px;
background-color: #a8b8ff;
font-size: 20px;
text-align: right;
}

.loginform .logincancel button {
padding: 1px;
text-align: center;
font-size: 18px;
float: left;

}

.loginform .logincancel button:hover {
background-color: red;
color: white;
}




