.trendingjobsMain {
    width: 100%;
    background-color: white;
    padding: 10px 20px;

}

.trendingtital{
    
    border-radius: 10px;
    font-size: 30px;
    
}
.trendingtital h1{
    font-family:Georgia;
}


.imageslider{
   display: block;
   
}

.imagesbox{
    display: block;
    
}

.imagesbox img{
    width: 1310px;
    height: 400px;
    position: absolute;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 5px 22px -12px rgba(0, 0, 0, 64);
}

.trendingjoblist{
    /*background-color:#e6e8ff;*/
    position: relative;
    top: 450px;
}

.trendingjobs_list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    transition: 0.5s;
}

.trending_ads_samples{
   width: 100%;
   height: 200px;
   border-radius: 20px;
   transition: 0.5s;
}

.trendingjoblist h3{
    font-family:Book Antiqua;
    font-size: 30px;
    padding: 10px;
}
.trending_border{
    width: 100%;
    height: 5px;
    background-color: #090042;
}

.trendingjobs_list:hover{
    
    transform: scale(1.005);
}
.trendingjobs_list_content{
    
    transition: 00.5s;
}
.trendingjobs_list_content:hover{
    
    transform: scale(1.03);
    opacity: 0.9;
}

/* .trending_readmore{
    border: none;
    display: block;
    margin: 0 100px;
    border: 1px solid black;
    
    opacity: 0;
}
.trending_readmore:hover{
    opacity: 1;
} */

.trendingjobs_list_content button{
    color: white;
    font-size: 20px;
    border: none;
    padding: 5px 100px;
    border: 2px solid #050029;
    background-color: #050029;
    border-radius: 5px;
    display: block; 
    margin: 0 5px 0 10px;
   opacity: 0.3;
    cursor: pointer;
    transition: 00.5s;
}

.trendingjobs_list_content button:hover{
    opacity: 1;
    box-shadow: 0px 15px 22px -12px rgba(0, 0, 0, 64);
}