/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: space-around;
}
*/
.lg1maincontainer {
    width: 100%;
    height: 100vh;
    background-color: rgb(228, 164, 80);
    background: url('../../images/back13.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}

.lg1formcontainer {
    width: 30%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 100px;
}

.lg1logocontainer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.lg1logocontainer img{
    width: 210px;
    height: 70px;
    margin-top: 50px;
    transition: 0.35s ease-out;
}

.lg1logocontainer img:hover{
    transform: scale(1.08);
}

.lg1greetlogin {
    width: 100%;
    height: 50px;
}

.lg1greetlogin p{
    text-align: center;
    color: rgba(212, 212, 212, 0.952);
    font-size: 25px;
    margin-top: 50px;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 3px;
}

.lg1feildsconatiner{
    display: flex;
    justify-content: space-evenly;
}

.lg1form1{
    width: 500px;
    height: 40px;
    display: block;
    margin-left: 100px;
    margin-top: 30px;
}

.lg1form1 .lg1inputfeild{
    width: 220px;
    height: 40px;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    justify-content: center;
}

#lg1loginbttn{
    width: 220px;
    height: 40px;
    margin-top: 30px;
    font-size: 15px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.89);
    font-family: 'Comfortaa', cursive;
    border: none;
    background-color: #555b64c5;
}

#lg1loginbttn:active{
    background-color: #151c25c5;
}