body{
    background-image: linear-gradient(to right,rgb(76, 76, 216), teal);
    background-repeat: no-repeat;
    background-size: cover;
}
.plate{
    width: 100%;
    height: 1000px;
}
#navbar2{
    visibility: hidden;
}
.navbaradmin{
    width: 100%;
    height: 60px;
    background-color: rgba(9, 8, 24);
    color: beige;
    font-size: 20px;
}
.navbaradmin ul li {
    position: relative;
    float: left;
}
.navbaradmin ul li:first-child{
    margin-top: 18px;
    margin-left: 10px;
}
.navbaradmin ul li button{
    position: relative;
    float: left;
    margin-left: 20px;
    width: 120px;
    height: 60px;
    font-size: 20px;
    border: none;
    background-color: rgba(9, 8, 24);
    color: cornsilk;
    transition: 0.5s;
}
.navbaradmin ul li button:hover{
    color: rgba(9, 8, 24);
    background-color: cornsilk;
    cursor: pointer;
}
.navbaradmin ul li button.active{
    background-color: rgb(42, 44, 151);
}
.plate{
    width: 100%;
    height: 1700px;
}
.container{
    width:95%;
    height: 1600px;
    /*background-color: rgba(40, 35, 105, 0.836);*/
    margin:0px auto;
    margin-top:100px;
    border-radius: 30px;
    border: 1px solid white;
}
.card{
    height: 200px;
    /*background-color: blueviolet;
    border:1px solid white;*/
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top:30px;
}
.card1{
    width: 1%;
}
.card2{
    width:47%;
}
.card3{
    width: 47%;
}
.smallhead{
    width: 230px;
    height:170px;
    background-color: rgb(150, 150, 150);
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    border-radius: 5px;
}
.smallhead:first-child{
    margin-left: 0px;
}
.smallhead h2{
    margin-left: 50px;
    margin-top: 20px;
}
.smallhead h1{
    margin-left: 80px;
    margin-top: 20px;
}
.tablebox{
    width: 95%;
    height: 400px;
    background-color: rgb(150, 150, 150);
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5px;
}
.tablebox h2{
    padding:20px;
}
.box1{
    width: 95%;
    height: 400px;
    background-image: url("../images/ps/tableback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5px;
}
.box1 h2{
    padding:20px;
}
table , th , tr , td {
    /*border:1px solid black;*/
    border-collapse: collapse;
}
th , tr{
    width: 150px;
    height: 50px;
}
table{
    margin: 0px auto;
}
th{
    background-color:rgb(184, 179, 179)
}
.container button, .card2 button{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    background-color: rgb(28, 28, 112);
    color:whitesmoke;
    border:cadetblue;
    border-radius: 20px 0px 20px 0px;
    transition: 0.5s;
    margin-left: 550px;
}
.container button:hover{
    color: rgb(28, 28, 112);
    background-color:whitesmoke;
    border-radius: 0px 20px 0px 20px;
    cursor: pointer;
}
.cont1{
    height:auto;
}
.cont1 input.btn{
    width: 100px;
    height: 30px;
    border-radius: 10px 0px 10px 0px;
    margin-top: 5px;
    background-color: rgb(129, 122, 122);
    border: none;
    transition: 0.5s;
}
.cont1 input.btn:hover{
    border-radius: 0px 10px 0px 10px;
    border: 1px solid gold;
    color: rgb(129, 122, 122);
    background-color: white;
}
.cardu{
    position: relative;
    float: left;
    width: 40%;
    height: 500px;
}
.cardu img{
    height: 150px;
}
.cardu1{
    width: 5%;
    height:100%;
}
.cardu button.esdetails{
    background-color: rgb(129, 122, 122);
    margin-left:100px;
}
.cardu button.esdetails:hover{
    border-radius: 0px 10px 0px 10px;
    border: 1px solid gold;
    color: rgb(129, 122, 122);
    background-color: white;
}
.tablebox button{
    background-color: rgb(129, 122, 122);
    font-size: 20px;
}
.tablebox button:hover{
    border-radius: 0px 10px 0px 10px;
    border: 1px solid gold;
    color: rgb(129, 122, 122);
    background-color: white;
}
.cont1 h3{
    margin-left: 500px;
}
.cont1 button.conf, .cont1 input.esdetails{
    /*position: relative;
    float: left;*/
    font-size: 20px;
    background-color: rgb(129, 122, 122);
    font-size: 20px;
    border-radius: 20px 00px 20px 00px;
}
.cont1 button.conf:hover,.cont1 input.esdetails:hover{
    border-radius: 0px 20px 0px 20px;
    border: 1px solid gold;
    color: rgb(129, 122, 122);
    background-color: white;
    cursor: pointer;
}
.cont1 input.esdetails{
    width: 200px;
    height: 50px;
    transition: 0.5s;
    border: none;
}
.cardu3 img.complogo
{
   width: 280px;
   height: 110px;
}
.cardu input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(40, 29, 185);
    width:250px;
    font-size: 17px;
    margin-top: 10px;
    height: 30px;
}
.cardu textarea{
    background-color: transparent;
    border: none;
    border: 2px solid rgb(40, 29, 185);
    font-size: 17px;
    margin-top: 10px;
}
.cardu input:focus {
    border-bottom: 2px solid black;
}
.cardu textarea:focus{
    border:2px solid black;
}
.cardu input.pic{
    border:none;
}
.cardu p{
    color:white;
    font-size: 20px;
}
header{
    background:#1f252e9a;
    height: 80px;  
}
#headercontainer{
    height: 80px;
}
.tablebox table, .box1 table{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.box13{
    background-image: url("../images/ps/jstable.jpg");
}
.tablebox table{
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
}
.box2{
    background-image: url("../images/ps/cmptable.jpg");
}
.box3{
    background-image: url("../images/ps/pvjtable.jpg");
}
.boxje{
    background-image: url("../images/ps/jsedit.jpg");
}
.boxeae{
    background-image: url("../images/ps/empedit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.tablebox h2,.box1 h2{
    font-family: 'Raleway', sans-serif;
}
.boxjv{
    background-image: url("../images/ps/jvedit.jpg");
}
.boxjv textarea{
    height:250px;
}
.boxjv input, .boxjv textarea{
    border: none;
    background-color:rgba(255,255,255,0.6);
    padding-left:10px;
    font-size: 18px;
    border-radius: 15px;
}
.boxjv textarea{
    padding-top: 10px;
}
.boxjv input{
    width:350px;
}