.ajdmaincontainer{
    width: 100%;
    height: 80vh;
    background: url('../images/back5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.ajdimgcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.ajdimgcontainer img{
    width: 240px;
    height: 80px;
}

.ajdtextcontainer{
    width: 100%;
    margin-top: 60px;
}

.ajdtextcontainer p{
    font-size: 32px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: rgba(240, 248, 255, 0.842);
}

.ajdhomebtttn{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    background-color: #acb6c7;
    padding: 12px;
    border: 1.5px solid #acb6c7;
    border-radius: 25px;
    color: #3f4a5d;
    font-size: 15px;
    transition: 0.2s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.ajdhomebtttn:hover{
    background-color: #8997b0;
    border: 1.5px solid #8997b0;
    color: #ffffff;
}

.ajdhomebtttn:active{
    background-color: #7283a0;
    border: 1.5px solid #7283a0;
    color: #ffffff;
}