.ojseqsection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ojseqmiddlesec {
    width: 90.5%;
    display: flex;
    flex-wrap: wrap;
}

.ojcard {
    background: url('../images/jobs/yellowb.jpg');
    width: 310px;
    height: 266px;
    margin: 2px;
    background-color: #000000;
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
}

.ojcardsate{
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    margin-top: 5%;
}

.ojcardtitle{
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
    font-weight: lighter;
    margin-top: 8px;
    transition: 0.2s ease-in-out;
}

.ojcardtitle:hover{
    transform: scale(1.1);
}

#ojcardimg {
    width: 180px;
    height: 60px;
    margin-top: 15%;
}

#ojcard:hover {
    opacity: 1;
}

.ojcardmorebttn{
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
    padding: 8px;
    border: 1.5px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    font-size: 12px;
    transition: 0.3s ease-in-out;
    margin-top: 15px;
}

.ojcardmorebttn:hover{
    background-color: #4e5d75;
    border: 1.5px solid #4e5d75;
    color: aliceblue;
}

.ojcardmorebttn:active{
    background-color: #2c3544;
}
