body{
    background-image: linear-gradient(to right,rgb(76, 76, 216), purple);
    background-repeat: no-repeat;
    background-size: cover;
}
.plate{
    width: 100%;
    height: 900px;
}
#navbar2{
    visibility: hidden;
}
.container{
    width:80%;
    height: 800px;
    /*background-color: rgba(40, 35, 105, 0.836);*/
    margin:0px auto;
    margin-top:100px;
    border-radius: 30px;
    border:1px solid white;
}
.navbaremp{
    width: 100%;
    height: 60px;
    background-color: rgba(9, 8, 24);
    color: beige;
    font-size: 20px;
}
.navbaremp ul li {
    position: relative;
    float: left;
}
.navbaremp ul li:first-child{
    margin-top: 18px;
    margin-left: 10px;
}
.navbaremp ul li button{
    position: relative;
    float: left;
    margin-left: 20px;
    width: 120px;
    height: 60px;
    font-size: 20px;
    border: none;
    background-color: rgba(9, 8, 24);
    color: cornsilk;
    transition: 0.5s;
}
.navbaremp ul li button:hover{
    color: rgba(9, 8, 24);
    background-color: cornsilk;
    cursor: pointer;
}
.navbaremp ul li button.active{
    background-color: rgb(42, 44, 151);
}

.card{
    height: 750px;
    /*background-color: blueviolet;*/
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top:30px;
    
}
.card1{
    width: 2%;
}
.card2{
    width:50%;
}
.card3{
    width:38%;
}
.smallbox{
    width: 280px;
    height: 50px;
   /*background-color: rgb(126, 125, 125);*/
    margin-left: 50px;
    position: relative;
    float: left;
    left: 20px;
    font-size: 20px;
    margin-top: 20px;
    /*background-color: blueviolet;*/
}
.card3 img.complogo{
    height: 100px;
    width: 280px;
    margin-top:10px;
    margin-left: 80px;
}
.card3 button, .card2 button{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    background-color: rgba(117, 112, 106, 0.24);
    color:whitesmoke;
    border:cadetblue;
    border-radius: 20px 0px 20px 0px;
    transition: 0.5s;
    margin-left: 150px;
}
.card button:hover{
    color: purple;
    background-color:whitesmoke;
    border-radius: 0px 20px 0px 20px;
    cursor: pointer;
}
.mediumbox{
    width:580px;
    height: 400px;
    margin-top: 100px;
    margin-left: 30px;
    font-size: 20px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.288);
    color: black;
}
.mediumbox h2  ,.mediumbox ul{
    padding:20px;
}
.msgbox{
    position: relative;
    float: right;
    right: 10px;
    width:480px;
}
.dashpostbox{
    width:220px;
    height: 300px;
    background-color: aqua;
    position: relative;
    float: left;
    margin-left:30px;
}
.dashmsgbox{
    width: 300px;
    height: 80px;
    margin-top: 20px;
    margin-left:80px;
    background-color: aqua;
}
.card2 , .card3{
    font-size: 20px;
    color: rgb(192, 192, 192);
    background-color: rgba(117, 112, 106, 0.95);
    border-radius: 10px;
}
.card2 input{
    width:150px
}
.card3 p{
    margin-left: 70px;
}
.favset{
    width: 95%;
    height: auto;
    background-color: rgba(211, 233, 211, 0.603);
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 10px;
}
.card3 input{
    margin-left: 70px;
}
.card input{
    background-color: rgba(255, 255, 255, 0.014);
    border:none;
    height: 20px;
    border-bottom: 3px solid purple;
    width: 450px;
    height: 30px;
    font-size: 20px;
    margin-left: 30px;
}
.card textarea{
    background-color: rgba(117, 112, 106, 0.247);
    border:none;
    border-bottom: 2px solid purple;
    font-size: 15px;
}
input:focus
{
    border-bottom: 3px solid blue;
}
textarea:focus
{
    border: 2px solid blue;
}
input.pic{
    background-color:none;
}
select option, select{
    background-color: rgba(117, 112, 106, 0.623);
    border:0px;
}
.card3 input{
    width: 300px;
    margin-left: 70px;
}
.card2 textarea{
    margin-left: 30px;
}
.card2 p{
    margin-left: 70px;
}
table, tr, th , td{
    /*border: 1px solid black;*/
    border-collapse: collapse;
    text-align: center;
}
th, tr , td{
    width: 180px;
    height: 50px;
}
table{
    margin: 0px auto;
}
th{
    background-color: cornflowerblue;
    font-size: 20px;
    /*linear-gradient(to right,rgb(76, 76, 216), purple);*/
}
.favset button,.favset input{
    background-color: rgb(129, 122, 122);
    font-size: 20px;
    width: 100px;
    height: 30px;
    border-radius: 10px 0px 10px 0px;
    background-color: rgb(129, 122, 122);
    color: white;
    transition: 0.5s;
    font-size: 15px;
    border: 0px;
}
.favset button:hover,.favset input:hover{
    border-radius: 0px 10px 0px 10px;
    border: 1px solid gold;
    color: rgb(129, 122, 122);
    background-color: white;
}
.carddash input{
    margin-top: 30px;
    font-size: 30px;
    border: none;
    height: 50px;
}
.carddash input:disabled{
    color: black;
    font-size: 20px;
    font-size: 30px;
}
.jvupdate p{
    font-size: 25px;
    margin-left: 30px;
}
.jvupdate input{
    background-color: rgba(255, 255, 255, 0.014);
    border:none;
    height: 20px;
    border-bottom: 3px solid purple;
    width: 450px;
    height: 30px;
    font-size: 20px;
    margin-left: 30px;
}
.jvupdate input:focus{
    border-bottom: 3px solid blue;
}
.jvupdate textarea{
    background-color: rgba(117, 112, 106, 0.247);
    border:none;
    border-bottom: 2px solid purple;
    font-size: 15px;
    margin-left: 30px;
}
.jvupdate button{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    background-color: rgba(117, 112, 106, 0.24);
    color:whitesmoke;
    border:cadetblue;
    border-radius: 20px 0px 20px 0px;
    transition: 0.5s;
    margin-left: 80px;
}
.jvupdate button:hover{
    color: purple;
    background-color:whitesmoke;
    border-radius: 0px 20px 0px 20px;
    cursor: pointer;
}
header{
    background:#1f252e9a;
    height: 80px;  
}
#headercontainer{
    height: 80px;
}
.jvupdate{
    width:560px;
    position: relative;
    float: left;
    height: 600px;
    background-color: rgba(211, 233, 211, 0.603);
    border-radius: 10px;
}
.jvupdate:last-child
{
    margin-left:20px;
}
.jvupdate img{
    width: 400px;
    height: 200px;
    margin-left: 30px;
}
.jv1{
    background-image:url("../images/ps/comjv1.jpg");
    background-size: cover;
}
.jv2{
    background-image:url("../images/ps/comjv2.jpg");
    background-size: cover;
    color: white;
}
input.subbtn{
    width:170px;
    height: 40px;
    border: none;
    background-color: grey;
    margin-left: 200px;
}