*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: Arial,Helvetica, sans-serif;
   background-image: url(../images/);
     /*background-color: white;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.container1
{
    display: flex;
    justify-content : center;
    align-items:center;
    height:40vh;
    position: relative;
    float:left;
    left:240px;
    /*bottom: 100px;*/
    margin:8px auto;
}
.form
{   
    margin-top: 300px;
    width: 900px;
    height: 600px;
    background-color: rgba(255, 254, 254, 0.3);
    box-shadow: 0 5px 40px rgb(7, 7, 7);
}
.formDetails
{
display:flex;
justify-content: center ;
font-weight: bold;
}
.formDetails input{
    /*border:none;*/
    width:80%;
    padding: 5px;
    margin-bottom: 15px;
    /*background-color:white;*/
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top:none;
    border-right:none;
    border-left:none;
    font-weight: bold;
    font-size: 15px;
    color: rgb(10, 10, 10);
   /*align-content: right;*/
    background-color: transparent;
    }
 input:focus
 {
    outline:none;
    border-bottom: 2px solid rgb(20, 236, 218);
    font-size: 17px;
    font-weight: bold;
    align-content: right;
 }
 .reg
 {

    padding:30px;
    font-weight: bold;
    font-size: 50px;
    color: #221f2e;
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
    margin-left:210px;
    justify-content: center;
 }
 .reg:hover
 {
    color:gray;
 }
 
input.button{
    
    padding: 8px;
    outline:none;
    width: 150px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(35, 13, 231);
    font-weight: 600;
    display:flex;
    justify-content: center;
    
    
}
.button:hover{
    background-color: #8cb36d;
    /*visibility:hidden;*/
    opacity: 75%;
}




.combobox,.button
{
    justify-content:center;
    margin:0px auto;
   

}

::placeholder{
    color: gray
}
#jobseekerformstep
{
    
    width: 100%;
    height: 45px;
   
    
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 0px;
    padding-left: 240px;
    padding-right: 210px;


}
.button1
{
    height: 45px;
    width:200px;
    border: none;
    background-color: #73a24c;
    border-radius: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold ;

}
.button1:hover{
    background-color:#8cb36d;
    /*visibility:hidden;*/
    opacity: 75%;
}