body{
    background-image: linear-gradient(to right,rgb(60, 60, 202), rgb(50, 192, 114));
    background-repeat: no-repeat;
    background-size: cover;
}
#navbar2{
    visibility: hidden;
}
.navbar12{
    width: 100%;
    height: 60px;
    background-color: rgb(18, 17, 49);
}
.navbar12 li{
    position: relative;
    float: left;
}
.navbar12 li {
    width: 120px;
    height: 40px;
    border-radius: 0px;
    background-color:rgb(18, 17, 49);
    border: none;
    transition: 0.5s;
    color: cornsilk;
    font-size: 20px;
}
.navbar12 li:first-child
{
    margin-top: 18px;
    margin-left: 10px;
}
.navbar12 li button{
    width: 120px;
    height: 60px;
    border-radius: 0px;
    background-color:rgb(18, 17, 49);
    border: none;
    transition: 0.5s;
    color: cornsilk;
    font-size: 20px;
}
.navbar12 button.active{
    background-color: cornflowerblue;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s;
}
.navbar12 li button:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}
.plate{
    width: 100%;
    height: 800px;
}
.firstribbon{
    width: 80%;
    height: 120px;
    margin: 0px auto;
    background-color: rgba(46, 39, 141, 0.856);
    /*border-radius: 20px 20px 0px 0px;*/
}
img.propic{
    width: 120px;
    height: 120px;
    padding: 20px;
    position: relative;
    float: left;
}
.firstribbon1{
    width: 20%;
    height: 100%;
    /*background-color: darkgoldenrod;*/
    /*border-bottom: 1px solid black;*/
    position: relative;
    float: left;
}
h2#first_name{
    margin-left: 450px;
}
.firstribbon2{
    position: relative;
    float: left;
    width: 80%;
    height: 100%;
   /* border-bottom: 1px solid black;*/
    /*color: rgb(54, 52, 52);*/
    font-size: 20px;
}
.firstribbon2 h2{
    position: relative;
    float: left;
    left: 100px;
    margin-top: 30px;
    margin-left: 50px;
}
.secondribbon{
    width: 80%;
    height: 630px;
    margin: 0px auto;
    border: 2px solid white;
    border-radius: 20px;
    /*visibility: hidden;*/
}
.favset{
    width: 95%;
    height: 260px;
    background-color: rgba(203, 206, 203, 0.603);
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 20px;
}
.card {
    width: 40%;
    height: 90%;
    /*border: 1px solid white;*/
    position: relative;
    float: left;
    margin-top: 10px;
    /*background-color: rgb(150, 150, 150);*/
}
.cardep {
    width: 50%;
    height: 90%;
    /*border: 1px solid white;*/
    /*position: relative;
    float: left;*/
    margin-top: 10px;
    /*background-color: rgb(150, 150, 150);*/
}
.card p{
    color: white;
}

.card input{
    width:200px;
    height:25px;
}
.card1{
    background-color: transparent;
    width: 2%;
}
.card2{
    width: 40%;
}
.card2 img{
    width: 200px;
    height: 200px;
    margin-left: 00px;
}
.card2 input.pic{
    margin-left: 00px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    border: none;
}
.card button{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    /*background-color: rgb(28, 28, 112);*/
    color:whitesmoke;
    border:cadetblue;
    border-radius: 20px 0px 20px 0px;
    transition: 0.5s;
}
.card button.edudetails{
    margin-left: 70px;
}
.card button.ecdetails{
    margin-left: 100px;
}
.card button:hover{
    /*color: rgb(28, 28, 112);*/
    background-color:whitesmoke;
    border-radius: 0px 20px 0px 20px;
    cursor: pointer;
}
.card button.savedetails{
    position: relative;
    margin-left: 70px;
}
.favset:hover{
    cursor: pointer;
}
.smallbox input:disabled
{
    width: 350px;
    height: 50px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    background-color: transparent;
    border: none;
}
table, th, td, tr{
    /*border:1px solid black;*/
    border-collapse: collapse;
}
.mediumbox table{
    margin-left: 20px;
}
th, td{
    width: 220px;
    height: 50px;
}
.fav table{
    margin-left: 0px;
    margin-top: 30px;
}
th{
    background-color: #a1acbf;
    font-size: 25px;
}
.fav{
    height: auto;
}
td{
    color: wheat;
}

button.table{
    /*background-color: rgb(129, 122, 122);*/
    font-size: 20px;
    border-radius: 10px 0px 10px 0px;
    width:100px;
    height: 30px;
    transition:0.5s;
    color: white;
    border:none;
    text-align: center;
    margin-left: 60px;
}
button.table:hover{
    border-radius: 0px 10px 0px 10px;
    border: 1px solid gold;
    color: rgb(129, 122, 122);
    background-color: white;
}
.boxmsg input{
    width:150px;
    height: 50px;
    margin-left:80px;
    font-size: 30px;
}
.boxmsg h3{
    margin-left: 70px;
    margin-top: 20px;
}
.boxmsg input:disabled
{
    color: black;
    background-color: transparent;
    border: none;
}
.dashplate button{
    font-size: 18px;
    background-color: rgb(105, 103, 103);
    color: black;
}
.dashplate button:hover{
   color: rgb(50, 192, 114);
   background-color: whitesmoke;
}
.widebox th {
    width:150px;
    font-size: 20px;
}
.addep{
    width: 500px;
    height: 300px;
    background-color: darkgrey;
    margin: 0px auto;
    border-radius: 10px;
}
.addepjs button{
    background-color: rgb(129, 122, 122);
    font-size: 20px;
    border-radius: 10px 0px 10px 0px;
    width:150px;
    height: 50px;
    transition:0.5s;
    color: white;
    margin-left:40px;
    border:none;
}
.addepjs button:hover{
    border-radius: 0px 10px 0px 10px;
    border: 1px solid gold;
    color: rgb(129, 122, 122);
    background-color: white;
}
.edudetails input{
    height: 30px;
    width: 200px;
}
.cardleft button{
    margin-right: 100px;
}
.card p{
    font-size: 20px;
}
.card input{
    width: 300px;
    background-color: transparent;
    border:none;
    font-size:20px;
    border-bottom: 3px solid rgb(50, 192, 114);
}
.card hr{
    width:350px;
    border:1px solid #14ecda;
}
.card input:focus{
    border-bottom: 3px solid black;
}
.plateep button{
    background-color: gray;
}
.plateep button:hover{
    border: 1px solid gold;
    color: rgb(50, 192, 114);
}
.widebox p{
    font-size: 25px;
    color: rgb(54, 54, 54);
    margin-left: 30px;
}
.widebox input{
    height: 30px;
    width: 800px;
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid rgb(60, 60, 202);
    background: none;
    color: black;
    margin-left: 30px;
}
.widebox input.btn{
    width: 200px;
    height: 50px;
    background-color: gray;
    color: blanchedalmond;
    border: none;
    font-size: 25px;
    border-radius: 10px 0px 10px 0px;
    transition: 0.5s;
    margin-left: 200px;
}
.widebox input.btn:hover
{
    background: blanchedalmond;
    border-radius: 0px 10px 0px 10px;
    border: 1px solid gold;
    color: gray;
}
header{
    background:#1f252e9a;
    height: 80px;  
}
#headercontainer{
    height: 80px;
}
/*.jsdash1{
    background-image: url("../images/ps/jsdash1.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}*/
.jsdash1 input, h2 , h3{
    font-family: 'Raleway', sans-serif;
}
/*.jsdash2{
    background-image: url("../images/ps/jsdash2.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}*/
.jsdash3{
    background-image: url("../images/ps/jsdash3.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}
.fav{
    background-image: url("../images/ps/tableback.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}
.jsdashed{
    background-image: url("../images/ps/jseditdetails.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}
.widebox{
    /*background-image: url("../images/ps/jsdashads.jpg");
    background-repeat: no-repeat;
    background-size:cover;*/
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgb(18, 17, 49);
    width: 1300px;
    color: white;
}
.jsdash2 button{
    background-color: #a1acbf;
}
.widebox input{
    border-bottom: 1px solid white;
    color: white;
}
.addepjs
{
    border: none;
}
.addepjs p{
    color: white;
}