*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.lgmaincontainerad{
    background: url('../images/back5.jpg');
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.lgselectioncontainer{
    width: 50%;
    height: 350px;
    display: flex;
}

.lgselection1{
    width: 50%;
    height: 100%;
    justify-content: center;
    background-color: #00000044;
    margin-right: 20px;
    border-radius: 30px;
}

.lgselection2{
    width: 50%;
    height: 100%;
    justify-content: center;
    background-color: #00000044;
    margin-left: 20px;
    border-radius: 30px;
}

.lgchoosebtttn{
    text-align: center;
    font-size: 18px;
    padding: 14px;
    border-radius: 35px;
    background-color: transparent;
    border: 2px solid #dddddde8;
    color: #dddddde8;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lgchoosebtttn:hover{
    background-color: #333c4dee;
    border: 1px solid #333c4dee;
}

.lgchoosebtttn:active{
    background-color: #262e3dee;
    border: 1px solid #262e3dee;
}

.lgselctimg{
    width: 260px;
    height: 150px;
    margin-top: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}