* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: black;
}

#section1 {
  background: url(../images/back10.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#section1 h1 {
  color: #272e3a;
  font-size: 72px;
  position: absolute;
  margin-top: 240px;
  margin-left: 100px;
}

#section1 h2 {
  font-size: 15px;
  font-weight: normal;
  color: #adb7c7d8;/*#acb6c7*/
  position: absolute;
  margin-top: 520px;
  margin-left: 100px;
}

header {
  position: relative;
  z-index: 500 !important;
  overflow: hidden;
}

#header {
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  top: 0;
  overflow: hidden;
  transition: 0.3s;
  background-color: #1f252ef7;
}

#navLogo {
  width: 19vw;
  height: 80px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  overflow: hidden;
}

#navLogo img {
  width: 150px;
  height: 50px;
  display: block;
}

#searchbar1 {
  width: 44vw;
  height: 80px;
  display: flex;
  justify-content: center;
  padding-top: 23px;
  overflow: hidden;
  flex-wrap: wrap;
}

#searchbar1 input {
  width: 370px;
  height: 34px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  border-radius: 50px 50px;
} 

#searchbar1 button {
  width: 80px;
  height: 34px;
  background: #3f4a5d;
  color: #8997b0;
  font-size: 17px;
  border: none;
  border-radius: 50px 50px;
  cursor: pointer;
}

#searchbar1 button:hover {
  background-color: #2f3746;
  color: #acb6c7;
}

#searchbar2 {
  width: 610px;
  height: 70px;
  position: absolute;
  margin-top: 450px;
  margin-left: 100px;
}

#searchbar2 input {
  padding-left: 20px;
  width: 510px;
  height: 45px;
  font-size: 17px;
  border: none;
  border-radius: 50px 50px;
}

#searchbar2 button {
  width: 80px;
  height: 45px;
  background: #3f4a5d;
  color: #8997b0;
  padding: 0;
  font-size: 17px;
  border: none;
  border-radius: 50px 50px;
  cursor: pointer;
}

#searchbar2 button:hover {
  background-color: #2f3746;
  color: #acb6c7;
}

#navbar1 {
  width: 45vw;
  height: 80px;
  display: flex;
}

#navbarlinks {
  width: 30vw;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-left: 80px;
  overflow: hidden;
}

#navbarlinks li {
  width: 90px;
  height: 45px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  color: #c4cbd7;
}

#navbarlinks li a {
  color: #c4cbd7;
  overflow: hidden;
}

#navbarlinks li a:hover {
  color: #f3f4f7;
}

#loginbttn {
  width: 80px;
  height: 34px;
  background: #3f4a5d;
  color: #8997b0;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  border-radius: 50px 50px;
  margin-top: 20px;
  margin-left: 5px;
}

#loginbttn:hover {
  background-color: #2f3746;
  color: #acb6c7;
}

#navbar2 {
  width: 100%;
  height: 45px;
  background-color: rgba(39, 46, 58, 0.95);
  border-top: 1px solid #3f4a5d;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  margin-top: 80px;
  position: fixed;
}

#navbar2 a {
  color: #acb6c7;
  height: 45px;
  display: block;
  padding: 15px 30px;
  border:none;
}

#navbar2 a:hover {
  color: #cfd5df;
  border-bottom: 3px solid #cfd5df;
}



/*///////////////////////////////////////////////////////////////////////*/

#section2 {
  background-color:#ffff;
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #f3f4f7;
}

#sec2Container {
  width: 1000px;
  height: 570px;
  text-align: center;
}

#sec2Container h2 {
  padding: 25px 0;
}

#sec2Container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sec2Container ul li {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding-top: 45px;
  border-radius: 30px 30px;
  transition: 0.3s ease-in-out;
  background-color: rgba(224, 224, 224, 0.404);
}

#sec2Container ul li:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  transform: scale(1.05);
}

#sec2Container #caticon {
  width: 120px;
  height: 40px;
  transition: .3s ease-in-out;
  justify-content: center;
}

#sec2Container #caticon:hover {
  transform: scale(1.08);
}

#sec2Container ul a li p {
  color: black;
  margin-top: 30px;
}



/*///////////////////////////////////////////////////////////////////////*/

#section3 {
  width: 100%;
  height: 42vh;
  /*background-color: rgb(240, 240, 240);*/
  background: url(../images/resume.jpg);
  background-size: cover;
}

#section3 {
  text-align: center;
  display: flex;
  justify-content: center;
}

#section3 #sec3p1 {
  font-size: 38px;
  font-weight: normal;
  margin-top: 70px;
  color: #c4cbd7;
}

#section3 #sec3p2 {
  font-size: 19px;
  font-weight: normal;
  margin: 20px 0;
  color: #c4cbd7;
}

#section3 #resumebttn {
  width: 170px;
  height: 45px;
  background: #3f4a5d;
  color: #8997b0;
  padding: 0;
  font-size: 17px;
  border: none;
  margin-top: 35px;
  border-radius: 50px 50px;
  cursor: pointer;
}

#section3 #resumebttn:hover {
  background-color: #2f3746;
  color: #acb6c7;
}



/*///////////////////////////////////////////////////////////////////////*/

#section4 {
  width: 100%;
  height: 75vh;
  background-color: #dbdfe7;
  display: flex;
  overflow: hidden;
}

#section4 #sec4imgcontainer {
  width: 45%;
  height: 75vh;
  background-color:#cfd5df;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#section4 #sec4imgcontainer img {
  width: 380px;
  height: 380px;
  margin-top: 100px;
  border-radius: 15px 15px;
}

#section4 #sec4textcontainer {
  width: 500px;
  height: 375px;
  margin-left: 150px;
  display: block;
  margin-top: 160px;
}

#section4 #sec4textcontainer h3{
  font-size: 40px;
  color: #272e3a;
}

#section4 #sec4textcontainer #sec4para{
  font-size: 18px;
  padding: 35px 0;
  color: #272e3a;
}

#section4 #sec4textcontainer button {
  width: 120px;
  height: 45px;
  background: #3f4a5d;
  color: #8997b0;
  padding: 0;
  font-size: 17px;
  border: none;
  border-radius: 50px 50px;
  cursor: pointer;
}

#section4 #sec4textcontainer button:hover {
  background-color: #2f3746;
  color: #acb6c7;
  transition: 0.3s ;
}