*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: Arial,Helvetica, sans-serif;
    
    background-image: url(../images/Employee3.jpg);
    
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.container1
{
    display: flex;
    justify-content : center;
    align-items:center;
    height:130vh;
    position: relative;
    float:left;
    left:240px;
    /*bottom: 100px;*/
    margin:8px auto;
}
.form
{   
    margin-top: 300px;
    width: 900px;
    height: 1100px;
    background-color: rgba(255, 254, 254, 0.3);
    box-shadow: 0 5px 40px rgb(7, 7, 7);
}
.formDetails
{
display:flex;
justify-content: center ;
font-weight: bold;
}
.formDetails input{
    /*border:none;*/
    width:80%;
    padding: 5px;
    margin-bottom: 15px;
    /*background-color:white;*/
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top:none;
    border-right:none;
    border-left:none;
    font-weight: bold;
    font-size: 15px;
    color: rgb(10, 10, 10);
   /*align-content: right;*/
    background-color: transparent;
    }
 input:focus
 {
    outline:none;
    border-bottom: 2px solid rgb(20, 236, 218);
    font-size: 17px;
    font-weight: bold;
    align-content: right;
 }
 .reg
 {

    padding:30px;
    font-weight: bold;
    font-size: 50px;
    color: #1f252e;;
    transition: 0.5s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
 }
 .reg:hover
 {
    color:gray;
 }
 .checkbox{
    display: flex;
    justify-content:center;
    margin: 15px;
}
input.button{
    
    padding: 8px;
    outline:none;
    width: 150px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(35, 13, 231);
    font-weight: 600;
    display:flex;
    justify-content: center;
    
    
}
.button:hover{
    background-color: rgb(14, 5, 97);
    /*visibility:hidden;*/
    opacity: 75%;
}




.combobox,.button,.checkbox
{
    justify-content:center;
    margin:0px auto;
   

}
label
{

    justify-content: center;
}
::placeholder{
    color: rgb(5, 5, 5);
}