*{

    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: Arial,Helvetica, sans-serif;
    
    background-image: url(../images/472097.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.container
{
    display: flex;
    justify-content : center;
    align-items:center;
    height:80vh;
    position: relative;
    float:left;
    left:230px;
   

}
.form
{
    width: 350px;
    height: 500px;
    background-color: rgba(30,39,39, 0.3);
    box-shadow: 0 5px 30px rgb(7, 7, 7);
}
.btn button{
    padding: 3px;
    margin: 30px 0px 40px 30px;
    border-style: none;
    background-color: transparent;
    color : white;
    font-size:18px ;
    font-weight: 550;
}
.formDetails
{
display:flex;
justify-content: center ;
}
.formDetails input{
border:none;
width:80%;
padding: 10px;
margin-bottom: 20px;
background-color: transparent;
border-bottom: 2px solid white;
font-weight: bold;
font-size: 15px;
color: white;
}

::placeholder{
    color: rgb(209, 204, 204);
}

 input:focus
 {
    outline:none;
    border-bottom: 2px solid rgb(20, 236, 218);
    font-size: 17px;
    font-weight: bold;
 }
.checkbox{
    display: flex;
    justify-content:center;
    margin: 15px;
}
#checkbox{
    height: 15px;
    width:15px;
    margin-right: 10px;
}
.text{
    color:whitesmoke;
    font-size: 13px;

}
.btn2{
    
    padding: 2px;
    outline:none;
    width: 132px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(27, 11, 165);
    font-weight: 100;
    display:flex;
    justify-content: center;
    border:none;
    
    
}
.btn2:hover{
    background-color: rgb(15, 8, 85,0.5);

}
.formDetails .b{
    
    border:none;
   
    background-color: transparent;
    color:whitesmoke;
    font-weight: bold;
    font-size: 15px;

    }
    h1{


        background-color: transparent;
        color : white;
        position:relative;
             float:left;
             left:150px;
             margin-top: 100px;
             font-family: 'Times New Roman', Times, serif;
             font-size: 50px;
    }
    .p1{
    
    
        background-color: transparent;
        color : white;
        position:relative;
             float:right;
             right:700px;
             margin-right: 10px;
             margin-top: 180px;
             font-family: 'Times New Roman', Times, serif;
             font-size: 20px;
    }
    .text2{

        color:antiquewhite;
        display:flex;
    justify-content: center;
    padding: 5px;
    font-size: 10px;
    }
    
input.button
{
 padding-bottom: 30px;
 
}